.about{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

}
.about-title{
    position: relative;

}
.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;  
    z-index: -1;
}
.about-section{
    display:flex;
    gap:80px;
    /* flex-direction: row; */

}
.about-left {
    width:70%;
}
.about-left img{
    height: -webkit-fill-available;
    width: 100%;
    
    

}

.about-right{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    gap: 80px;

}
.about-para{
    display:flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap:20px;

}
.about-skill{
    display:flex;
    
    gap:40px;
    align-items: center;
    transition: 0.3s;
}
.about-skill P{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg , #DF8908, #B415FF);
}
.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 8px;
}
.about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about-achievement h1{
    font-size: 60px;
    font-weight: 700;
    background:linear-gradient(264deg , #DF8908, #B415FF) ;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;

}
.about-achievement{
    font-size: 22px;
    font-weight: 500;
}

.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.about-achievement:hover{
    transform: scale(1.12);
    transition: 0.5s;

}

@media (max-width: 768px) {
    .about{
        margin: 80px 50px;
        gap: 80px;
        align-items: start;
    }
    .about-title h1{
        padding: 0px 30px;
        font-size: 50px;
        font-weight: 600;

    }
    .about img{
        width: 60%;
        right: -5%
    }
    .about-section{
        flex-direction: column;

    }
    .about-left{
        display: none;
    }
    .about-para{
        font-size: 20px;
        line-height: 32px;
    }
    .about-skill{
        gap:20px;
        align-items: center;
        }
    .about-skill P{
        font-size: 18px;
    }
    .about-skill hr{
        height: 6px;
    }
    .about-achievement h1{
        justify-content: space-between;
    }
    .about-achievement h1{
        font-size: 34px;
        font-weight: 700;
    }
    .about-achievement p{
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }
}
