.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
    gap: 5%;
}

/* .nav-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 60px;
    align-items: center;
    font-size: 20px;
    background: linear-gradient(267deg, #DA7C25, #B923E1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: sans-serif;
} */
.nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    background-color: #1F0016;
    width: 250px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s ease;
    right: -250px; /* Default hidden */
    padding-top: 60px;
}

.nav-menu.active {
    right: 0; /* Visible when active */
    
}

.nav-menu li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-menu li img {
    display: flex;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.5s;
}

.nav-connect:hover {
    transform: scale(1.2);
}

li img {
    margin: -25px 0px;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.nav-mob-open {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navbar {
        margin: 20px 30px;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 3;
    }

    .nav-mob-close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        background-color: #1F0016;
        width: 250px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s ease;
        right: -250px; /* Hidden by default */
        padding-top: 60px;
    }

    .nav-menu li {
        font-size: 20px;
        padding: 10px 20px;
        flex-direction: row;
        gap: 15px;
    }

    .nav-menu.active {
        right: 0; /* Visible when active */
    }
}
